<!DOCTYPE html>
<html>
  <head>
    <title>Mo Soliman - Web Developer</title>
    
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/e0045a5e70.js" crossorigin="anonymous"></script>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
   <header id="mainnav" class="clearfix">
   <%= link_to "Mohamed Soliman", root_path, class: "name" %>
     
      <nav>
        <%= link_to "Articles", posts_path %>
        <a href="projects.html">Projects</a>
        <a href="contact.html">Contact</a>
      </nav>
  </header>


    <%= yield %>

     <footer id='mainfooter'>
    <p class='copyright'>©2020 Mohamed Soliman</p>
    <nav>
      <a href="#" target= "_blank"><i class="fas fa-at"></i></a>
      <a href="#" target= "_blank"><i class="fab fa-github"></i></a>
      <a href="#" target= "_blank"><i class="fab fa-facebook"></i></a>
    </nav>
  </footer>

  </body>
</html>
